/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

#primaryContentContainer
{
    float: left;
    margin-right: -220px;
    width: 100%;
}
#primaryContent
{
    margin: 0em 220px 0em 0em;
    padding: 0em 1.5em 1.5em 1.5em;
}
#primaryContent h2, #primaryContent h3
{
    text-transform: lowercase;
    color: #5D5F53;
    border-bottom: dotted 1px #ECEEDF;
    padding-bottom: 0.3em;
}
#secondaryContent h3
{
    background: url('../images/a1.gif') no-repeat;
    width: 185px;
    height: 27px;
    font-size: 1.0em;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 5px;
    text-transform: lowercase;
    color: #5D5F53;
}
/* Secondary Content */
#secondaryContent
{
    float: left;
    width: 200px;
    padding-right: 1em;
}
body {
    margin: 20px;
    padding: 0;
    background: #CCCCCC;
}

body, th, td, input, textarea, select {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #555555;
}

h1, h2, h3 {
    color: #3A570F;
}

h1 {
    letter-spacing: -2px;
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1em;
}

input, textarea, select {
    color: #000000;
}

a {
    color: #3A570F;
}

a:hover {
    text-decoration: none;
}

/* Sidebar */

#sidebar {
    float: left;
    width: 241px;
}

/* Logo */

#logo {
    margin-bottom: 10px;
    background: #658634 url(images/img02.gif) repeat-y;
}

#logo h1, #logo p {
    margin: 0;
    padding: 0;
    text-transform: lowercase;
    text-align: center;
    font-weight: normal;
    color: #FFFFFF;
}

#logo h1 {
    padding-top: 30px;
    background: url(images/img01.gif) no-repeat;
}

#logo p {
    padding-bottom: 30px;
    background: url(images/img03.gif) no-repeat left bottom;
}

#logo a {
    text-decoration: none;
    color: #FFFFFF;
}

/* Widgets */

#widgets {
    background: #658634 url(images/img02.gif) repeat-y;
}

#widgets-top {
    height: 20px;
    background: url(images/img01.gif) no-repeat;
}

#widgets * {
    color: #FFFFFF;
}

#widgets ul {
    margin: 0;
    padding: 0 20px 100px 20px;
    background: url(images/img04.jpg) no-repeat left bottom;
    list-style: none;
}

#widgets li {
}

#widgets li ul {
    padding: 0 0 20px 6px;
    background: none;
    line-height: 180%;
}

#widgets li li {
    padding-left: 12px;
    background: url(images/img05.gif) no-repeat left center;
}

#widgets h2 {
    margin: 0;
    padding: 0 0 20px 0;
    font-size: 1em;
}

/* Page */

#page {
    margin-left: 250px;
}

/* Search */

#search {
    height: 51px;
    background: url(images/img06.gif) repeat-x;
}

#search form {
    height: 51px;
    margin: 0;
    padding: 0;
    background: url(images/img07.jpg) no-repeat;
}

#search fieldset {
    height: 40px;
    margin: 0;
    padding: 11px 20px 0 0;
    background: url(images/img08.gif) no-repeat right top;
    border: none;
    text-align: right;
}

/* Content */

#content {
}

#content h1, #content h2 {
    font-weight: normal;
    margin-top: 0;
}

.pagetitle {
    margin: 0 0 10px 0;
    padding-top: 27px;
}

.post {
    margin-bottom: 10px;
    background: #ADB79E url(images/img09.gif) repeat-y right top;
}

.title {
    margin: 0;
    padding: 0 20px;
}

.byline {
    margin: 0 20px;
    border-top: 2px solid #C2C9B6;
}

.entry {
    padding: 20px 20px 0 20px;
}

.meta {
    margin: 0;
    padding: 0 20px;
}

/* Rounded Corners */

.ct {
}

.ct .l {
    background: url(images/img10.gif) no-repeat;
}

.ct .r {
    height: 15px;
    background: url(images/img11.gif) no-repeat right top;
}

.cb {
    background: url(images/img12.gif) repeat-x left bottom;
}

.cb .l {
    background: url(images/img13.gif) no-repeat left bottom;
}

.cb .r {
    height: 15px;
    background: url(images/img14.gif) no-repeat right bottom;
}

/* Footer */

#footer {
    clear: both;
    padding-top: 10px;
    font-size: smaller;
}

#footer p {
    margin: 0;
}