<h2>Test pages</h2>
<ul>
    <li><%= link_to 'Basic page', :action => :basic %></li>
    <li><%= link_to 'Form test', :action => :form %></li>
    <li><%= link_to 'Form test with ActiveRecord', :action => :form_ar %></li>
</ul>
